version: "3"
services:
  zookeeper:
    image: wurstmeister/zookeeper
    networks:
      - proxy
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    networks:
      - proxy
    ports:
      - "9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 192.168.1.105
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "water:1:1:compact"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  log-receiver:
    image: node:10
    working_dir: /app
    stdin_open: true
    # command: node ./index.js
    networks:
      - proxy
    ports:
      - 3000:8080
    volumes:
      - ./log-receiver:/app
networks:
  proxy:
    external: true
